[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
seaborn = "*"
networkx = "*"
ipython = "*"
jupyter = "*"
py-etherscan-api = "*"
web3 = "*"
eth-abi = "*"
python-dotenv = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
